/** @format */

* {
  box-sizing: border-box;
}
body {
  font-family: Poppins;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: black;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  color: #ffffff;
  cursor: pointer;
  flex: 0.5;
  position: relative;
  margin: 10px;
  transition: flex 0.4s ease-in;
  border-radius: 5px;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 1;
}
.panel.active h3 {
  opacity: 1;
}
